/* .containter {
    border: 1px solid lightgreen;
    border-radius: 2px;
    padding: 50px;


} */

.color-box1 {
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 0;
    top: 80px;
}
.color-box2 {
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 0;
    top: 180px;
}
.color-box3 {
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 0;
    top: 280px;
}
.color-box4 {
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 0;
    top: 380px;
}
.color-box5 {
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 0;
    top: 480px;
}