/* .containter {
    border: 1px solid lightgreen;
    border-radius: 2px;
    padding: 50px;


} */
.color-box1 {
    width: 120px;
    height: 120px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 0;
    top: 80px;
    color: white;
}
.color-box2 {
    width: 120px;
    height: 120px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 0;
    top: 200px;
    color: white;
}
.color-box3 {
    width: 120px;
    height: 120px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 0;
    top: 320px;
    color: white;
}
.color-box4 {
    width: 120px;
    height: 120px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 0;
    top: 440px;
    color: white;
}
.color-box5 {
    width: 120px;
    height: 120px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 0;
    top: 560px;
    color: white;
}
.color-box6 {
    width: 120px;
    height: 145px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 0;
    top: 680px;
    color: white;
}
.tier-label {
    color: white;
    text-align: center;
    line-height: 110px;
    font-size: 24px;
}
/*
Need to figure out how to change height of grey rectangles 

*/

